$html-bg:#e5e5e5;
$color-primary:#0B4141;
$color-secondary:#FFCCBC;
$color-secondary--bg:rgba(255, 204, 188,0.8);
$dark:#262C27;
$blue:#0093A1;
$white:#fff;
$black:#000;
$green:#B9C400;
$border-light:rgba(255,255,255,0.4);

